.f-container{
    justify-content: space-between;
}

.f-left{
    gap: 1rem;
}

.f-menu{
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 600;
    color: #13d9e0;
}

.i{
    display: flex;
    flex-direction: row;
    color: rgb(248, 224, 2);
    gap: 1rem;
}

.nav{
    text-decoration: none; 
    color: inherit;
}


/*Animation*/
@keyframes heartbeat{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.35);
    }
    100%{
        transform: scale(1);
    }
}

.Facebook, .Twitter, .Instagram, .Linkedin{
    opacity: 0.8;
    cursor: pointer;
}

.Facebook:hover{
    animation: heartbeat 1s infinite;
    fill: #4267B2;
    color: #4267B2;
    opacity: 1.0;
}

.Twitter:hover{
    animation: heartbeat 1s infinite;
    fill:  #000000;
    color: #000000;
}

.Instagram:hover{
    animation: heartbeat 1s infinite;
    fill:  #f46ca5;
    color: #f46ca5;
}

.Linkedin:hover{
    animation: heartbeat 1s infinite;
    fill:  #05e6ff;
    color: #05e6ff;
}

/*Responsive*/
@media (max-width: 768px){
    .f-container{
        justify-content: center;
    }
    .f-container>div{
        align-items: center !important;
        text-align: center;
    }
}
