.Modal {
    position: fixed;
    
    width:1110px;
    z-index: 100000000 !important;
    margin: auto;
    opacity: 0.9;
    backdrop-filter: blur(4px);
    z-index: 2;
    display: flex;
    border-radius: 8px;
    background-color: rgba(255,255,255, 0.4); 
}

.popUp{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}

.cross {
    place-self: end;
    float: right;
    border-radius: 8px;
    margin-right: 8px;
    border-color: white;
    background-color: white;
    opacity: 0.5;
}

.signup-login{
    
    border-radius: 0.75rem;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    margin-left: 4px;
    margin-right: 4px;
}



